<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NEW PRODUCT</title>
</head>
<body>
        <h1>Add product</h1>

        <form action="/products" method="POST" >
                <label for="name">Product name</label>
                <input type="text" name="name" id="name" placeholder="product name">
                <label for="price">Price(Unit)</label>
                <input type="number" name="price" id="price" placeholder="product price">
                <label for="category">Select category</label>
                <select name="category" id="category">
                        <option value="fruit">fruit</option>
                        <option value="vegetable">vegetable</option>
                        <option value="dairy">dairy</option>
                </select>
                <button>submit</button>
               
        </form>
        
</body> 
</html>